/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .blur {
    width: 50%;
    margin-bottom: 50px;


/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .blur {
    width: 100%;
  }

  footer {
    text-align: center;
  }
